<p>Hallo {{ user.email }},</p>
<p>Klicke auf den folgenden Link, um dein Passwort zurückzusetzen (gültig bis {{ expiresAt|date('d.m.Y H:i') }}):</p>
<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
<p>Wenn du dies nicht angefordert hast, ignoriere die E-Mail.</p>
