.mcDataTable th {
    background-colorrgb(32, 35, 42)
}

table.dataTable thead > tr > th.dt-orderable-asc,
table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc,
table.table.dataTable>:not(caption)>*>*,
.table.table-bordered,
.table.table-bordered td,
.table.table-bordered th {
    background-color: transparent;
}

.form-control:disabled {
    color: black;
}

.alert-success {
    background: color-mix(in srgb, var(--c-success) 85%, var(--c-border));
    border-color: var(--c-success);
}

.alert-danger {
    background: color-mix(in srgb, var(--c-danger) 85%, var(--c-border));
    border-color: var(--c-danger);
}

.alert-warning {
    background: color-mix(in srgb, var(--gmap-highway-hue) 85%, var(--c-border));
    border-color: var(--gmap-highway-hue);
}

.alert-info {
    background: color-mix(in srgb, var(--vmap-scale-start) 85%, var(--c-border));
    border-color: var(--vmap-scale-start);
}
